/* color */
$mainBgColor: #2B2B2B;
$mainBgColorLight: #404040;
// option
$optionBgColor: #5E5E5E;
$optionColor: #DADADA;
$optionSelectedBgColor: $mainBgColor;
$optionSelectedColor: #FFFFFF;
$optionHoveredBgColor: #6B6B6B;
$optionHoveredColor: #FFFFFF;

/* size */ 
$optionMargin: 2px;
